body{
    background-color: rgb(207, 232, 252);
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(82, 82, 82);
    font-family: Arial, Helvetica, sans-serif;
}
#weatherCard{
    
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 45%;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(82, 82, 82);
    margin-bottom: 20px;
}

button{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(82, 82, 82);
    background-color: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
    cursor: pointer;
}
button:hover{
    background-color: rgb(82, 82, 82);
    color: white;
}

#weatherCard h1{
    font-size: 40px;;
    text-decoration: underline rgb(39, 39, 39);
}
#weatherIcon{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#weather{
    font-size: 30px;
    margin-bottom: 20px;
}
#coordinates{
    font-size: 20px;
    margin-bottom: 20px;
}
#temp{
    font-size: 30px;
    font-weight: 100;
}